@{
    ViewBag.Title = "Create Challan";
}

<div id="filter_option">
    <div class="row">
        <div class="col-md-12 ">
            <div class="panel panel-primary">
                <div class="panel-heading ">
                    <div class="clearfix">

                        @ViewBag.Title
                        @Html.ActionLink("Back", "Index", null, new { @class = "btn btn-sm btn-danger pull-right"@*, target = "_blank"*@ })
                    </div>
                </div>
                <div class="panel-body">
               
                    <div class="row">
                        <div class="col-md-12">
                            <table>
                                <tr>
                                    <th style="width:150px;">Date Range </th>
                                    <th style="width:10px;">:</th>
                                    <th style="width:350px;"><input type="text" class="form-control" name="orderdate" id="orderdate" value="@Session[" systemdate"]" /></th>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>PSR</th>
                                    <th>:</th>
                                    <th>@Html.DropDownList("PSR", (IEnumerable<SelectListItem>)ViewBag.PSRList, "Select PSR", new { @class = "form-control ", onchange = "get_SubRoute()" })</th>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th>Sub Route Name</th>
                                    <th>:</th>
                                    <th>@Html.DropDownList("SubRouteName", Enumerable.Empty<SelectListItem>(), "Select Sub Route", new { @class = "form-control" })</th>
                                </tr>
                                <tr>
                                    <th>&nbsp;</th>
                                    <th></th>
                                    <th></th>
                                </tr>
                                <tr>
                                    <th></th>
                                    <th></th>
                                    <th><button style="margin-top: 25px; margin-left: 25px;" class="btn btn-success pull-right" onclick="getallData();">Search</button></th>
                                </tr>
                            </table>

                            <br />

                            <div id="Challan_info"></div>
                        </div>

                    </div>
                </div>
            </div>

        </div>
    </div>
</div>


<div class="modal modal-danger fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal">&times;</button>
                <h4 class="modal-title">Stock Short</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="text-align:center;" rowspan="2">SKU Name</td>
                            <td colspan="2">Stock Qty</td>
                            <td colspan="2">Order Qty</td>
                            <td colspan="2">Stock Short</td>
                        </tr>
                        <tr>
                            <td>CS</td>
                            <td>PS</td>
                            <td>CS</td>
                            <td>PS</td>
                            <td>CS</td>
                            <td>PS</td>
                        </tr>
                    </thead>
                    <tbody id="modal_table"></tbody>
                </table>

            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">Close</button>
            </div>
        </div>

    </div>
</div>



@{
    DateTime systemDate = (DateTime)Session["SystemDate"];
}

<script>

    $(document).ready(function () {
        $(".select2").select2({
            placeholder: "Select..",
            allowClear: true
        });
        $("#orderdate").datepicker({
            dateFormat: 'dd-mm-yy',
            maxDate: '@systemDate.ToString("dd-MM-yyyy")',
            minDate: '@systemDate.ToString("dd-MM-yyyy")'
        }
        );
        $("#orderdate").val('@systemDate.ToString("dd-MM-yyyy")');

    });


    function getallData() {
        $("#ajax_load").show();
        $("#Challan_info").html("");
        var psrid = $("#PSR").val();
        var orderdate = $("#orderdate").val();

        var routeid = $("#SubRouteName").val();

        if (psrid === "" || psrid === 0 || orderdate === "" || orderdate === 0 || routeid === "" || routeid === 0) {
            $("#ajax_load").hide();
            swal({
                title: "PSR Not Selected?",
                text: "Please select all Field!",
                type: "warning",
                showCancelButton: true
            });

        } else {

            $.ajax({
                type: "POST",
                url: "/Challan/ShowAllForCreateChallan/",
                data: { orderdate: orderdate, psrid: psrid, routeid: routeid },
                dataType: "html",
                error: function () {
                    $("#ajax_load").hide();
                },
                success: function (data) {

                    $("#Challan_info").html(data);
                    grand_total_amount();
                    $("#ajax_load").hide();
                    //convert_data_tabel();
                }
            });
        }

    }

    function get_SubRoute() {
        var psrId = $('#PSR').val();
        $("#SubRouteName").empty();
        $.ajax({
            type: "GET",
            url: "/Challan/SubroutebyPsr",
            data: { psrId: psrId },
            dataType: "json",
            async: "true",
            cache: "false",
            success: function (data) {
                $("#SubRouteName").empty();

                for (var i = 0; i < data.length; i++) {
                    $("#SubRouteName").append('<option value="' + data[i].RouteID + '">' + data[i].RouteName + '</option>');
                }
                

            }

        });
    }

    function calculateTotalqty(id) {


        var index = id;

        var packSize = $("#Pack_Size_" + index).val();

        var tpPrice = $("#TP_price_" + index).val();
        tpPrice = (tpPrice !== '') ? parseFloat(tpPrice) : 0;

        var orderQtyCs = $("#order_qty_CS_" + index).val();
        orderQtyCs = (orderQtyCs !== '') ? parseInt(orderQtyCs) : 0;

        var orderQtyPs = $("#order_qty_PS_" + index).val();
        orderQtyPs = (orderQtyPs !== '') ? parseInt(orderQtyPs) : 0;

        var extraCsQty = $("#ExtraCS_Qty_" + index).val();
        extraCsQty = (extraCsQty !== '') ? parseInt(extraCsQty) : 0;

        var extraPsQty = $("#ExtraPS_Qty_" + index).val();
        extraPsQty = (extraPsQty !== '') ? parseInt(extraPsQty) : 0;


        var freeQty = $("#FreeQty_" + index).val();
        freeQty = (freeQty !== '') ? parseInt(freeQty) : 0;




        var extraTotal = (extraCsQty * packSize) + extraPsQty;

        var totalQtyCs = $("#total_qty_CS_" + index).val();
        totalQtyCs = (totalQtyCs !== '') ? parseInt(totalQtyCs) : 0;

        var totalQtyPs = $("#total_qty_PS_" + index).val();
        totalQtyPs = (totalQtyPs !== '') ? parseInt(totalQtyPs) : 0;


        var stock = $("#stock_" + index).val();
        stock = (stock !== '') ? parseInt(stock) : 0;

        var total = ((orderQtyCs + extraCsQty) * packSize) + orderQtyPs + extraPsQty + freeQty;




        $("#stockgap_" + index).val(stock - total);

        $("#total_qty_CS_" + index).val(parseInt(total / packSize));
        $("#total_qty_PS_" + index).val(parseInt(total % packSize));

        $("#Extra_Qty_" + index).val(extraTotal);
        $("#Total_qty_" + index).val(total);


        var saleableQty = total - freeQty;
        $("#total_amount_" + index).val(parseFloat(saleableQty * tpPrice).toFixed(2));
        grand_total_amount();
    }

    function grand_total_amount() {
        var totalAmount = 0;
        var totalQty = 0;

        $('input[name="total_amount"]').each(function () {
            var amount = $(this).val();
            if (amount) {
                totalAmount = totalAmount + parseFloat(amount);
            }
        });


        $('input[name="Total_qty"]').each(function () {

            var id = $(this).attr("id");
            var index = id.slice(10);
            var qtyps = $(this).val();
            var packSize = $("#Pack_Size_" + index).val();

            if (qtyps) {
                totalQty = totalQty + parseFloat(qtyps / packSize);
            }
        });

        $("#grand_total_CS").val(parseFloat(totalQty).toFixed(2));
        $("#grand_total").val(parseFloat(totalAmount).toFixed(2));

    }

    function shortage_stock_model() {
        $('#modal_table').html('');
        $('input[name="stockgap"]').each(function () {
            var stockGap = $(this).val();
            var id = $(this).attr('id');
            var index = id.slice(9);


            if (stockGap < 0) {
                //  var sku_id = $("#sku_id" + index).val();
                var skuName = $("#sku_name_" + index).val();
                var curentStock = $("#stock_" + index).val();
                var totalQty = $("#Total_qty_" + index).val();
                var stockgap = $("#stockgap_" + index).val();
                var packSize = $("#Pack_Size_" + index).val();
                var shortQty = '<tr><td>' + skuName + '</td><td>' + Math.floor(curentStock / packSize) + '</td><td>' + (curentStock % packSize) + '</td><td>' + Math.floor(totalQty / packSize) + '</td><td>' + totalQty % packSize + '</td><td>' + Math.floor(Math.abs(stockgap / packSize)) + '</td><td>' + Math.abs(stockgap % packSize) + '</td> </tr>';
                $('#modal_table').append(shortQty);

            }
        });
        $('#ajax_load').css("display", "none");
        $('#myModal').modal('show');
    }

    function challan_save() {
        $("#ajax_load").show();
        
        $('#ajax_load').css("display", "block");

        var stockshort = 0;
        $('input[name="stockgap"]').each(function () {
            var stockGap = $(this).val();
            if (stockGap < 0) {
                stockshort = 1;
            }
        });

        if (stockshort === 1) {
            $("#ajax_load").hide();
            shortage_stock_model();
        } else {
            var challanLine = [];

            $('input[name="sku_id"]').each(function () {
                var id = $(this).attr('id');
                var index = id.slice(7);
               // alert(index);
                challanLine.push({
                    SkuId: $(this).val(),
                    SkuName: $("#sku_name_"+index).val(),
                    BatchId: $("#Batch_"+ index).val(),
                    Price: $("#TP_price_"+ index).val(),
                    PackSize: $("#Pack_Size_"+ index).val(),
                    OrderQty: $("#Totalorder_qty_"+ index).val(),
                    ExtraQty: $("#Extra_Qty_" + index).val(),
                    FreeQty: $("#FreeQty_" + index).val(),
                    TotalQtyPrice: $("#total_amount_" + index).val(),
                    TotalCsQty: $("#Total_qty_" + index).val() / $("#Pack_Size_" + index).val(),
                    TotalQty: $("#Total_qty_" + index).val() 
                   
                }
                );


            });


            var challan = {
                PsrId: $("#PsrId").val(),
                PsrName: $("#Psr_name").val(),
                RouteId: $("#RouteId").val(),
                RouteName: $("#subroute").val(),
                NoOfMemo: $("#NoOfMemo").val(),
                OrderDate: $("#Order_Date").val(),
                GrandTotalCs: $("#grand_total_CS").val(),
                GrandTotal: $("#grand_total").val(),

                Challanline: challanLine
            };


            $.ajax({
                type: "POST",
                url: "/Challan/Addchallan",
                data: challan,
                dataType: "json",
                success: function (data) {
                    if (data === "Success") {
                        $("#Challan_info").html("");
                        swal({
                            title: "Challan save",
                            text: "Challan save success fullay!",
                            type: "success",
                            showCancelButton: true
                        });
                    }
                }

            });
            $('#ajax_load').css("display", "none");
        }

    }

</script>