@model ODMS.Models.ViewModel.ChallaniVm
@{
    ViewBag.Title = "Confirm Challan";
}



<style>
    .inputbox {
        text-align: center;
        width: 70px;
    }
</style>
<div class="panel panel-default">
    <div class="panel-heading">
        @ViewBag.Title
    </div>
    <div class="panel-body">

        <div class="col-md-12">

            <table>
                <tr>
                    <th style="width: 150px">
                        PSR Name
                    </th>
                    <th style="width: 10px">
                        :
                    </th>
                    <th style="text-align: left; width: 300px">

                        <input name="Psr_name" readonly id="Psr_name" class="form-control" style="width: 200px;" value="@Model.PsrName" type="text">
                        <input type="hidden" id="PsrId" name="PsrId" readonly value="@Model.PsrId" />



                    </th>

                </tr>
                <tr>
                    <th style="width: 150px">
                        Sub Route Name
                    </th>
                    <th style="width: 10px">
                        :
                    </th>
                    <th style="text-align: left; width: 200px">

                        <input name="subroute" readonly class="form-control" style="width: 200px;" id="subroute" value="@Model.RouteName" type="text">
                        <input type="hidden" id="RouteId" name="RouteId" readonly value="@Model.RouteId" />

                    </th>
                </tr>
                <tr>
                    <th style="width: 150px">
                        Order Date
                    </th>
                    <th style="width: 10px">
                        :
                    </th>
                    <th style="text-align: left; width: 200px">
                        <input type="text" class="form-control" style="width: 200px;" readonly value="@Model.OrderDate.ToString("dd-MM-yyyy")" name="Order_Date" id="Order_Date" />
                    </th>
                </tr>
                <tr>
                    <th>
                        Number of Memo
                    </th>
                    <th>
                        :
                    </th>
                    <th>
                        <input type="text" class="form-control col-md-6" style="width: 80px;" id="NoOfMemo" readonly value="@Model.NoOfMemo" />
                    </th>


                </tr>


            </table>
            <div class="row">
                <div class="col-md-12">

                    @Html.ActionLink("Return To Store", "OrderEditByid", "Order", new { id = @ViewBag.firstmemoid }, new
       {
           @class = "btn btn-sm btn-warning pull-right "@*, target = "_blank"*@})
                </div>

            </div>
            <br>
            <table class="table table-striped table-bordered" id="sales_order">
                <thead>
                    <tr>

                        <th rowspan="2">
                            SKU Name
                        </th>
                        <th rowspan="2">
                            Betch
                        </th>
                        <th rowspan="2">
                            Pack Size
                        </th>
                        <th rowspan="2">
                            Price [PS]
                        </th>

                        <th style="text-align: center;" colspan="2">
                            Total Challan Qty
                        </th>
                        <th style="text-align: center;" colspan="2">
                            Total Delivery Qty
                        </th>
                        <th style="text-align: center;" colspan="2">
                            Free Qty
                        </th>
                        <th style="text-align: center;" colspan="2">
                            Return / Short Qty
                        </th>
                    </tr>
                    <tr>
                        <th style="text-align: center; min-width: 50px;">
                            CS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            PCS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            CS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            PCS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            CS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            PCS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            CS
                        </th>
                        <th style="text-align: center; min-width: 50px;">
                            PCS
                        </th>


                    </tr>
                </thead>
                <tbody id="tbody_order">

                    @{
                        var sl = 1;
                        Double grandTotalCs = 0;
                        Double deliveryGrandTotalCs = 0;

                    }


                    @foreach (var item in Model.Challanline)
                    {
                        <tr>


                            @{
                        sl++;
                            }
                            @{
                        var deliverygap = item.ReturnQty;

                        var deliverygapCs = deliverygap / item.PackSize;
                        var deliverygapPs = deliverygap % item.PackSize;
                        grandTotalCs += (Double)item.TotalQty / item.PackSize;
                        deliveryGrandTotalCs += (Double)item.ConfirmQty / item.PackSize;
                            }


                            <td>

                                <input style="width: 250px; @(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" type="text" readonly class="form-control" value="@item.SkuName" name="sku_name" id="sku_name_@sl" />
                                <input type="hidden" value="@item.SkuId " name="sku_id" id="sku_id_@sl" />

                            </td>
                            <td>
                                <input type="text" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" value="@item.BatchId" readonly name="Batch" id="Batch_@sl" />
                            </td>
                            <td>
                                <input type="text" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" value="@item.PackSize" readonly name="Pack_Size" id="Pack_Size_@sl" />
                            </td>
                            <td>

                                <input type="text" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" readonly value="@item.Price.ToString("#.##")" name="TP_price" id="TP_price_@sl" />


                            </td>

                            <td>

                                <input type="text" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" value="@item.TotalCsQty" readonly name="total_qty_CS" id="total_qty_CS_@sl" />

                            </td>
                            <td>
                                <input type="number" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" value="@item.TotalPsQty" readonly name="total_qty_PS" id="total_qty_PS_@sl" />
                                <input type="hidden" class="form-control inputbox" value="@item.TotalQty" readonly name="Total_qty" id="Total_qty_@sl" />
                            </td>
                            <td>
                                <input type="text" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" value="@item.ConfirmCsQty" readonly name="total_qty_CS" id="total_qty_CS_@sl" />

                            </td>
                            <td>
                                <input type="number" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" value="@item.ConfirmPsQty" readonly name="total_qty_PS" id="total_qty_PS_@sl" />
                                <input type="hidden" class="form-control inputbox" value="@item.ConfirmQty" readonly name="ConfirmQty" id="ConfirmQty_@sl" />
                            </td>

                            <td>
                                <input type="number" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" readonly value="@item.FreeCsQty" name="FreeCS_Qty" id="FreeCS_Qty_@sl" />
                            </td>
                            <td>
                                <input type="number" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" readonly value="@item.FreePsQty" name="FreePS_Qty" id="FreePS_Qty_@sl" />
                                <input type="hidden" class="form-control inputbox" value="@item.FreeQty" readonly name="FreeQty" id="FreeQty_@sl" />

                            </td>

                            <td>
                                <input type="number" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" readonly value="@deliverygapCs" name="deliverygapCS_Qty" id="deliverygapCS_Qty_@sl" />
                            </td>
                            <td>
                                <input type="number" style="@(deliverygap < 0 ? "background-color:#ffaaaa;" : "Null")" class="form-control inputbox" readonly value="@deliverygapPs" name="deliverygapPS_Qty" id="deliverygapPS_Qty_@sl" />

                                <input type="hidden" value="@deliverygap" style="text-align: right; width: 80px;" readonly name="deliverygap" id="deliverygap_@sl" />
                            </td>



                        </tr>
                    }

                </tbody>
                <tfoot>
                    <tr>
                        <td> </td>
                        <td></td>
                        <td colspan=2 style="text-align: right;">Gross Total</td>
                        <td colspan="2">
                            <input id="grand_total_CS" type="text" value="@grandTotalCs.ToString("#.##")" class="form-control" name="grand_total_CS" readonly />
                        </td>
                        <td colspan="2">
                            <input id="grand_delivery_CS" type="text" value="@deliveryGrandTotalCs.ToString("#.##")" class="form-control" name="grand_delivery_CS" readonly />
                        </td>
                        <td colspan="2"></td>
                        <td colspan="2"></td>

                    </tr>
                    <tr>

                        <td colspan="12">
                            @using (Html.BeginForm("ConfirmChallan", "Challan", FormMethod.Post, new { id = "ConfirmChallan" }))
                            {
                                DateTime systemDate = (DateTime)Session["SystemDate"];
                                @Html.HiddenFor(m => m.Id)
                                if (Model.DeliveryDate == systemDate)
                                {
                                    <button type="button" id="btnSave" onclick="ConfirmChallan();" class="btn btn-lg btn-primary">Confirm</button>
                                }
                                else
                                {
                                    <div class="alert alert-warning">Challan Confirmation date will be<strong> @Model.DeliveryDate.ToString("dd-MMM-yyyy dddd")</strong></div>
                                }

                            }

                        </td>



                    </tr>


                </tfoot>
            </table>
        </div>

    </div>
</div>


<div class="modal modal-danger fade" id="myModal" data-backdrop="static" data-keyboard="false">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span>
                </button>
                <h4 class="modal-title">Stock Short</h4>
            </div>
            <div class="modal-body">
                <table class="table table-bordered">
                    <thead>
                        <tr>
                            <td style="text-align:center;" rowspan="2">SKU Name</td>
                            <td style="text-align:center;" rowspan="2">Betch</td>
                            <td colspan="2">Challan Qty</td>
                            <td colspan="2">Delivery Qty</td>
                            <td colspan="2">Delivery Short</td>
                        </tr>
                        <tr>
                            <td>CS</td>
                            <td>PS</td>
                            <td>CS</td>
                            <td>PS</td>
                            <td>CS</td>
                            <td>PS</td>
                        </tr>
                    </thead>
                    <tbody id="modal_table"></tbody>
                </table>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">OK</button>
            </div>
        </div>
        <!-- /.modal-content -->
    </div>
    <!-- /.modal-dialog -->
</div>


<script>

    function shortage_delivery_model() {
        $('#modal_table').html('');
        $('input[name="deliverygap"]').each(function () {
            var deliverygap = $(this).val();
            var id = $(this).attr('id');
            var index = id.slice(12);


            if (deliverygap < 0) {
                //  var sku_id = $("#sku_id" + index).val();
                var skuName = $("#sku_name_" + index).val();
                var batch = $("#Batch_" + index).val();

                var totalQty = $("#Total_qty_" + index).val();
                var confirmQty = $("#ConfirmQty_" + index).val();
                var packSize = $("#Pack_Size_" + index).val();

                var shortQty = '<tr><td>' +
                    skuName +
                    '</td><td>' +
                    batch +
                    '</td><td>' +
                    Math.floor(totalQty / packSize) +
                    '</td><td>' +
                    totalQty % packSize +
                    '</td><td>' +
                    Math.floor(confirmQty / packSize) +
                    '</td><td>' +
                    (confirmQty % packSize) +
                    '</td><td>' +
                    Math.floor(Math.abs(deliverygap / packSize)) +
                    '</td><td>' +
                    Math.abs(deliverygap % packSize) +
                    '</td> </tr>';
                $('#modal_table').append(shortQty);

            }
        });
        $('#ajax_load').css("display", "none");
        $('#myModal').modal('show');
    }

    function ConfirmChallan() {

        $("#ajax_load").show();
        var deliveryshort = 0;
        $('input[name="deliverygap"]').each(function () {
            var deliverygap = $(this).val();
            if (deliverygap < 0) {
                deliveryshort = 1;
            }
        });

        if (deliveryshort === 1) {
            $("#ajax_load").hide();
            shortage_delivery_model();
        } else {
            $("#ConfirmChallan").submit();
        }

    }


</script>