@using ODMS.HtmlHelpers
@model IEnumerable<ODMS.Models.ViewModel.InvoiceVm>
<html>
<head>
    <title>Invoice</title>
  
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
    <style>
        #page-wrap{
            position: relative;
            /*width:1007px;*/
            width:1150px;
           /*background: red;*/
            height: 450px;
        }
		
        #additional_header{
            position: absolute;
            width:1150px; 
            height: 62px;
            top: 0;
            left: 0;
            /*background: #ff0000;*/
        }
            
        #main_area{
            position: absolute;
            top:5px;
            left:43px;
            right:43px;
            height: 420px;
            /*background: activeborder;*/    
        }
			
        #header{
            /*background: blue;*/
            height: 76px;
            width: 100%;
        }
        #order_details{
            /*               background: gray;*/
            height: 240px;
            top:5px;
        }

        body{
            margin: 0;
            padding: 0;
        }
        table{
            table-layout: fixed;                
            border-collapse: collapse;
        }   
        table th{
            border: 1px solid black;
        }
            
        #order_table{
            width: 100%;
        }
        #order_table ,table td {
            border: 1px solid black;
        }
        #sum{
            /*margin-right: 0px;*/
            float:right;
            margin-top: -19px;
        }
        .align-right{
            text-align: right;
        }
        .none{
            border: none;
        }
        .order_table_font_size{
            font-size: 15px;
        }           
    </style>
</head>
<body>
@foreach (var modelitem in Model)
{
    <div id="page-wrap">
        <div id="additional_header"></div>
        <div id="main_area">
            <div id="header">
                <br><br>
                <table id="order_table_header">
                    <tr>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Outlet Name &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b></td>
                        <td class="none" style="font-size: 15px;">@modelitem.OutletName</td>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Distributor Name:</b></td>
                        <td class="none" style="font-size: 15px;"> @modelitem.DbName</td>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Memo No:</b></td>
                        <td class="none" style="font-size: 15px;">@modelitem.SoId</td>
                    </tr>
                    <tr>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Outlet Address &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b></td>
                        <td class="none" style="width: 150px; font-size: 15px;">@modelitem.OutletAddress</td>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Distributor Address:</b></td>
                        <td class="none" style="width: 150px; font-size: 15px;">@modelitem.DbAddress</td>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Order Date :</b></td>
                        <td class="none" style="font-size: 15px;">@modelitem.PlannedOrderDate.ToString("dd-MMMM-yyyy")</td>
                    </tr>
                    <tr>

                        <td class="none" style="text-align: left; font-size: 15px;"><b>Sub Route &nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;&nbsp;:</b></td>
                        <td class="none" style="text-align: left; font-size: 15px;">@modelitem.RouteName</td>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Distributor Mobile NO:</b></td>
                        <td class="none" style="font-size: 15px;">@modelitem.DbMobile</td>
                        <td class="none" style="text-align: left; font-size: 15px;"><b>Delivery Date:</b></td>
                        <td class="none" style="font-size: 15px;">@modelitem.DeliveryDate.ToString("dd-MMMM-yyyy")</td>
                    </tr>
                    <tr>
                        <td class="none" style="width: 150px; font-size: 15px;"><b>PSR Name:</b></td>
                        <td class="none" style="text-align: left; font-size: 15px;">@modelitem.PsrName</td>
                        <td class="none" style="width: 150px; font-size: 15px;"><b>PSR Mobile No:</b></td>
                        <td class="none" style="text-align: left; font-size: 15px;">@modelitem.PsrMobile</td>
                        <td class="none" style="font-size: 15px;"><b>Delivery Man Name:</b></td>
                        <td class="none" style="text-align: left; font-size: 15px;"></td>
                    </tr>

                </table>
            </div>
            <br><br><br>
            <div id="order_details">
                <table id="order_table">
                    <!--<thead>-->
                    <tr>
                        <th rowspan="2" style="width: 15px; font-size: 12px;">SL NO</th>
                        <th rowspan="2" style="width: 240px; font-size: 12px;">Product Description</th>
                        <th rowspan="2" style="width: 50px; font-size: 12px;">Pack Size</th>
                        <th rowspan="2" style="width: 60px; font-size: 12px;">Unit Price(CS)</th>
                        <th colspan="2" style="width: 80px; font-size: 12px;">Order Quantity</th>
                        <th colspan="3" style="width: 250px; font-size: 12px;">Promotation</th>
                        <th rowspan="2" style="width: 65px; font-size: 12px;">Replace</th>
                        <th rowspan="2" style="width: 65px; font-size: 12px;">Gross Value</th>
                        <th rowspan="2" style="width: 65px; font-size: 12px;">Discount</th>
                        <th rowspan="2" style="width: 65px; font-size: 12px;">Net Value</th>
                    </tr>
                    <tr>
                        <th style="font-size: 12px;">CS</th>
                        <th style="font-size: 12px;">Pcs</th>

                        <th style="width: 110px; font-size: 12px;"><pre>Free(Pcs)</pre></th>
                        <th style="width: 110px; font-size: 12px;">Discount</th>
                        <th style="font-size: 12px;">Gift</th>
                        <!--<th colspan="4"></th>-->
                    </tr>
                    <!--</thead>-->
                    <tbody>
                    @{
                        int sl = 0;
                        int totalDelivered = 0;
                    }
                    @foreach (var item in @modelitem.InvoiceLine)
                    {
                        sl++;
                        <tr>
                            <td class="order_table_font_size">@sl</td>
                            <td class="order_table_font_size">@item.SkuName</td>
                            <td class="order_table_font_size align-right">@item.PackSize</td>
                            <td class="order_table_font_size align-right">
                                @{ int price = (int) (item.UnitSalePrice * item.PackSize); }
                                @price.ToString("F")
                            </td>
                            <td class="order_table_font_size align-right">
                                @item.QuantityDeliveredCs
                            </td>
                            <td class="order_table_font_size align-right">
                                @item.QuantityDeliveredPs
                            </td>
                            <td class="order_table_font_size align-right">@item.QuantityFree</td>
                            <td class="order_table_font_size align-right">@item.TotalDiscountAmount.ToString("F")</td>
                            <td class="order_table_font_size align-right"></td>
                            <td class="order_table_font_size align-right"></td>
                            <!-- this is gross value-->
                            <td class="order_table_font_size align-right">@item.TotalSalePrice.ToString("F")</td>
                            <td class="order_table_font_size align-right">@item.TotalDiscountAmount.ToString("F")</td>
                            <td class="order_table_font_size align-right">@item.TotalBilledAmount.ToString("F")</td>
                        </tr>
                        
                        
                        totalDelivered += (int)item.TotalBilledAmount;

                    }
                    </tbody>
                    <tfoot>
                    <tr>
                        <td colspan="7" class="none"><b>In Word :</b> @totalDelivered.NumberToWords() @HttpUtility.HtmlEncode("টাকা মাত্র")</td>
                        <td colspan="2" style="width: 155px;" class="order_table_font_size"><b>Total Memo Value</b></td>
                        <td style="width: 70px;" class="align-right"></td>
                        <td style="width: 70px;" class="align-right"></td>
                        <td style="width: 70px;" class="align-right"></td>
                        <td class="order_table_font_size align-right" style="width: 70px;">@totalDelivered.ToString("F")</td>
                    </tr>
                    <tr>
                        <td colspan="7" class="none"></td>
                        <td colspan="2" class="order_table_font_size"><b>Memo Discount</b></td>
                        <td class="align-right"></td>
                        <td class="align-right"></td>
                        <td class="align-right"></td>
                        <td class="order_table_font_size align-right" style="width: 64px;">@modelitem.ManualDiscount.ToString("F")</td>
                    </tr>
                    <tr>
                        <td colspan="7" class="none"></td>
                        <td colspan="2" class="order_table_font_size"><b>Net Memo Value</b></td>
                        <td class="align-right"></td>
                        <td class="align-right"></td>
                        <td class="align-right"></td>
                        <td class="order_table_font_size align-right" style="width: 64px;">@totalDelivered.ToString("F")</td>
                    </tr>

                    </tfoot>
                </table>
            </div>
            <div style="margin-top: 80px;">
                <table>
                    <tr>
                        <td class="none" style="width: 400px; font-size: 15px;">Retailer`s Signature</td>
                        <td class="none" style="width: 400px; font-size: 15px;">Distributor`s Signature</td>
                        <td class="none" style="width: 400px; font-size: 15px;">Deliveryman Signature</td>
                    </tr>
                </table>
            </div>
        </div>
    </div>


    <p style="page-break-after: always; width: 0; height: 0; margin: 0; padding: 0;"></p>
}
</body>

</html>
<script type="text/javascript">
      window.print();
     setTimeout('window.close()',500);
</script>