@model ODMS.Models.tbl_SubMenu

@{
    ViewBag.Title = "Edit";
}




@using (Html.BeginForm())
{
    @Html.AntiForgeryToken()

    <div class=" container">
        <div class="row">

            <div class="col-xs-12 col-sm-12 col-md-6 col-lg-6 col-md-offset-3 col-lg-offset-3 ">


                <div class="panel panel-info">
                    <div class="panel-heading">
                        <div class="clearfix">
                            Edit
                            @Html.ActionLink("Back to List", "Manulist", "Menu", null, new { @class = "btn btn-sm btn-primary pull-right" })



                        </div>
                        <div class="panel-body">
                            <div class="row">
                                @*<div class="col-md-3 col-lg-3 " align="center"> <img alt="User Pic" src="~/App_res/shop.png" class="img-responsive"> </div>*@

                                <div class=" col-md-12 col-lg-12 ">
                                    <table class="table ">
                                        <tbody>
                                            @Html.ValidationSummary(true, "", new { @class = "text-danger" })
                                            @Html.HiddenFor(model => model.Id)

                                            <tr>
                                                <td>@Html.LabelFor(model => model.SubMenuName, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                                                <td>
                                                    @Html.EditorFor(model => model.SubMenuName, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.SubMenuName, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>@Html.LabelFor(model => model.Controller, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                                                <td>
                                                    @Html.EditorFor(model => model.Controller, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Controller, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>@Html.LabelFor(model => model.Action, htmlAttributes: new { @class = "control-label col-md-2" })</td>

                                                <td>
                                                    @Html.EditorFor(model => model.Action, new { htmlAttributes = new { @class = "form-control" } })
                                                    @Html.ValidationMessageFor(model => model.Action, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>


                                            <tr>
                                                <td>@Html.LabelFor(model => model.MainMenuId, "MainMenuId", htmlAttributes: new { @class = "control-label col-md-2" })</td>

                                                <td>
                                                    @Html.DropDownList("MainMenuId", null, htmlAttributes: new { @class = "form-control" })
                                                    @Html.ValidationMessageFor(model => model.MainMenuId, "", new { @class = "text-danger" })
                                                </td>
                                            </tr>




                                        </tbody>
                                    </table>
                                    <div class="form-group">
                                        <div class="col-md-offset-2 col-md-10">
                                            <input type="submit" value="Save" class="btn btn-default" />
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
}


