@model ODMS.Models.tbld_business_zone


<div class="panel panel-default">
    <div class="panel-heading">
        <div class="panel-title clearfix">
            @Html.ActionLink("Back to List", "Index", null, new { @class = "btn btn-primary pull-left" })

            <span id="Exportbtn" class="pull-right"> </span>
        </div>
    </div>
    <div class="panel-body">
        <div class="col-md-8">
            <h3>Are you sure you want to delete this?</h3>

            <table id="ZoneDatatable" class="table table-bordered">
                <thead>
                   
                </thead>
                <tbody>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.biz_zone_name)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.biz_zone_name)
                        </td>

                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.biz_zone_code)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.biz_zone_code)
                        </td>

                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.biz_zone_description)
                        </th>
                        <td>
                            @Html.DisplayFor(model => model.biz_zone_description)
                        </td>

                    </tr>
                    <tr>
                        <th>
                            @Html.LabelFor(model => model.biz_zone_category_id)
                        </th>
                        <td>
                            @foreach (var cat in ViewBag.ZoneCatagory)
                            {
                                @((Model.biz_zone_category_id == cat.id) ? cat.biz_zone_category_name : null)

                            }
                        </td>

                    </tr>

                    <tr>
                        <th>
                            @Html.LabelFor(model => model.parent_biz_zone_id)
                        </th>
                        <td>
                            @foreach (var cat in ViewBag.ZoneParent)
                            {
                                @((Model.parent_biz_zone_id == cat.id) ? cat.biz_zone_name : null)

                            }
                        </td>

                    </tr>

                </tbody>
            </table>
            @using (Html.BeginForm())
            {
                @Html.AntiForgeryToken()

                <div class="form-actions no-color">
                    <input type="submit" value="Delete" class="btn btn-primary" /> 
                </div>
            }
        </div>


    </div>
</div>
